html, head, body {
	margin: 0;
	padding: 0;
	font-family: 'Source Code Pro', 'Roboto Mono', monospace;
}
html, body {
	/*min-width: 100vw;*/
	min-height: 100vh;
}
* {
	-webkit-tap-highlight-color: transparent;
}
.ripple {
	background: rgba(255, 255, 255, 0.4);
}
.tab.active .ripple {
	background: rgba(0, 0, 0, 0.1);
}
#main {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
#workspace {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 400px;
	box-shadow: 2px 0 5px rgba(0,0,0,0.15);
	background: #FFFFFF;
	z-index: 5;
}
#game {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 400px;
	height: 100%;
	z-index: 3;
	padding: 20px;
	box-sizing: border-box;
	background: #FFFFFF;
}
#scoreboard-page table {
	width: 100%;
	text-align: center;
}
#game #canvas-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#game canvas {
	position: absolute;
	z-index: 5;
}
#workspace #resizer {
	position: absolute;
	right: -10px;
	width: 20px;
	top: 0;
	bottom: 0;
	cursor: w-resize;
	z-index: 100500;
}
#workspace #bar {
	background: #CFD8DC;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#workspace a#back {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 12px;
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}
#tabs-container {
	width: 100%;
	box-sizing: border-box;
	padding: 5px 10px 0 10px;
	display: block;
}
#tabs-container .tab {
	margin-right: 2px;
	display: inline-block;
	padding: 3px 10px;
	background: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	vertical-align: bottom;
	transition: all 0.1s ease-in-out;
}
#tabs-container.multiline .tab {
	border-radius: 3px;
	margin: 0 2px 5px 0;
	padding: 5px 10px;
}
#tabs-container .tab.active {
	background: #FFFFFF;
}
#container {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
#container > * {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	box-sizing: border-box;
	overflow: auto;
	padding: 10px;
}
#container > *.active {
	display: block;
}
#code-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
#code {
	height: 100%;
	padding: 0;
}
.ace_warning {
    background-image: none !important;
    background-color: rgba(255,238,88,0.75);
}
.ace_error {
    background-image: none !important;
    background-color: rgba(250,50,50,0.7);
}
#errors {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100500;
}
#errors .error,
#errors .notification {
	cursor: pointer;
	position: relative;
	display: block;
	padding: 8px;
	opacity: 1;
	margin-top: 0;
	max-height: 100vh;
	font-size: 12px;
	transition: max-height 0.2s ease-in-out,
				opacity 0.2s ease-in-out;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	padding-right: 30px;
}
#errors .error {
	background: rgba(255, 150, 150, 0.85);
}
#errors .notification {
	background: rgba(250, 200, 20, 0.8);
}
#errors .error .ripple,
#errors .notification .ripple {
	background: rgba(255, 255, 255, 0.1);
}
#errors .error.hide,
#errors .notification.hide {
	max-height: 0;
	opacity: 0;
}
#errors .error .loader,
#errors .notification .loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 0;
	background: rgba(255, 240, 240, 0.8);
	animation: errorLoading 5s linear;
	animation-fill-mode: forwards;
	cursor: pointer;
	transition: height 0.1s ease-in-out;
}
#errors .error.stopped,
#errors .notification.stopped {
	cursor: inherit !important;
	user-select: text !important;
	-ms-user-select: text !important;
	-moz-user-select: text !important;
	-webkit-user-select: text !important;
}
#errors .error.stopped .loader,
#errors .notification.stopped .loader {
	height: 0;
}
@keyframes errorLoading {
	0% {width: 0;}
	100% {width: 100%;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 0.4;}
}
#errors .error .close,
#errors .notification .close {
	cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px;
    width: 15px;
    height: 15px;
	animation: fadeIn 0.2s ease-in-out;
	animation-fill-mode: forwards;
}
#errors .error .close span:nth-child(1),
#errors .notification .close span:nth-child(1) {
    position: absolute;
    top: 14px;
    left: 8px;
    width: 14px;
    height: 2px;
    background: #000000;
    display: inline-block;
    transform: rotate(45deg);
}
#errors .error .close span:nth-child(2),
#errors .notification .close span:nth-child(2) {
    position: absolute;
    top: 14px;
    left: 8px;
    width: 14px;
    height: 2px;
    background: #000000;
    display: inline-block;
    transform: rotate(-45deg);
}
#controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background: #CFD8DC;
	padding: 8px 0 0 8px;
	box-shadow: 0 -1px 3px rgba(0,0,0,0.1);
}
#controls .Button {
	width: 40px;
	height: 40px;
	display: inline-block;
	background: #FFFFFF;
	margin-right: 8px;
	margin-bottom: 8px;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	cursor: pointer;
	background-position: center;
	background-size: 55%;
	background-repeat: no-repeat;
	background-color: white;
	transition: background-color 0.2s ease-in-out;
}
#controls .Button.active {
	background-color: #DDDDDD;
}
#controls .panel {
	position: relative;
	min-width: 200px;
	height: 40px;
	display: inline-block;
	background: #FFFFFF;
	margin-right: 8px;
	margin-bottom: 8px;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	cursor: pointer;
	overflow: hidden;
}
#controls .panel p {
	margin: 5px 10px;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#controls .panel > * {
	display: inline-block;
	vertical-align: middle;
}
#controls .panel .img {
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: 55%;
	background-repeat: no-repeat;
}
#controls .panel > select {	
	outline: none;
	cursor: pointer;
	margin-right: 8px;
}
#controls .panel > select::-ms-expand {
    display: none;
}
#controls .panel > select > option {
	cursor: pointer;
}
#controls .Button .ripple {
	background: rgba(0,0,0,0.1);
}
input[type=range] {
  -webkit-appearance: none;
  height: 100%;
  margin: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #78909C;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #78909C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #78909C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
	border-radius: 1px;
  cursor: pointer;
  background: #78909C;
}
input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
	border: none;
  border-radius: 50%;
  background: #78909C;
  cursor: pointer;
}
.ace-tm .ace_gutter {
	background: rgba(207,216,220,0.5) !important;
}
.ace-tm .ace_gutter-active-line {
	background: rgba(207,216,220,0.75) !important;
}
.bodjo-error {
	background: rgba(255,50,50,0.5);
    position: absolute;
    width: 100% !important;
    left: 0 !important;
}
.tab.not-saved {
    background: rgba(255,245,175,1) !important;
}
.bodjo-player {
    display: inline-block;
}
.bodjo-player.loading span.image {
    background-color: rgba(0, 0, 0, .1);
    animation: loadingblink infinite ease-in-out 1s;
}
.bodjo-player span.image {
	position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    border-radius: 50%;
    vertical-align: middle;
}
.bodjo-player > span.image > span {
    position: absolute;
    top: -2.5px;
    left: -2.5px;
    right: -2.5px;
    bottom: -2.5px;
    border-radius: 50%;
    border-width: 1.5px;
    border-color: rgba(76, 175, 80, 0);
    border-style: solid;
    transition: border-color 0.25s ease-in-out;
}
.bodjo-player.online > span.image > span {
    border-color: rgba(76, 175, 80, 1);
}
.bodjo-player span.username {
    vertical-align: middle;
    margin-left: 7px;
}
@keyframes loadingblink {
    0% {
        background: rgba(0, 0, 0, .025)
    }

    50% {
        background: rgba(0, 0, 0, .075)
    }

    100% {
        background: rgba(0, 0, 0, .025)
    }
}
.dialog {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #000000;
	text-align: center;
	padding-top: 20vh;
	display: none;
	z-index: 100600;
	background-color: #FAFAFA;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAMUlEQVR42u3QwQkAIAwDwG7iKI7m6lboBCL46B2EPAOJAADujcys/uKMr+qeDwAAT2xoNwH4CxjyzQAAAABJRU5ErkJggg==');
	background-repeat: repeat;
	background-position: center;
}
.dialog p {
	margin: 0;
}
.dialog .btn {
	padding: 6px 10px;
	border-radius: 2px;
	margin: 2px;
	margin-top: 20px;
	display: inline-block;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	color: #0277BD;
	text-decoration: none;
}
.dialog .btn .ripple {
	background-color: rgba(0,0,0,0.2);
}
.dialog > div {
	padding: 20vh 20%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(circle, rgba(250,250,250,1) 0%,rgba(250,250,250,0) 60%);
}

@media (max-width: 600px) {
	#workspace {
		width: 100% !important;
		left: 0;
		right: 0;
		top: 0;
		bottom: initial;
		height: 90%;
	}
	#game {
		position: absolute;
		left: 0 !important;
		right: 0;
		top: 90%;
		height: 90%;
	}
	#resizer {
		display: none;
	}
}